{% extends "Sf2genGeneratorBundle::layout.html.twig" %}

{% block content %}
    <h1>Choose your action</h1>
    
    <h2>{{ message }}</h2>
    <ul>
        <li><a href="{{ path('_generator_bundle') }}">Generate a bundle</a></li>
        <li><a href="{{ path('_generator_entity') }}">Generate an entity</a></li>
        <li><a href="{{ path('_generator_form') }}">Generate a form</a></li>
    </ul>
{% endblock %}